* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    color: red;
}


.flavor_text {
    display: flex;
    justify-content: center;
    color: red;
}

.selection_buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}



