* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    color: red;
}


.flavor_text {
    display: flex;
    justify-content: center;
    color: red;
}

.selection_buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

.enemy_chose {
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-top: 2rem;
}

.score_boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: red;
    font-size: 2em;
    margin-top: 3rem;
}

.player_score {
    display: flex;
}

.cpu_score {
    display: flex;
}